notebooks
.venv
.vscode
.coverage
.pytest_cache
*.egg-info
__pycache__
wandb
*.pk
*json
_build
build
dist
.ipynb_checkpoints
*.so
*.txt
!requirements.txt
*.nb
examples/icon.png
examples/gif.py
*.gif
examples/gif
*.npy
*.ipynb
.nox
.DS_Store
docs/jupyter_execute
