**/__pycache__/
**/*.ipynb_checkpoints
**/*.egg-info
**/*.ipynb
*.pyc
.pytest_cache/
.mypy_cache/
notebooks
.venv
.vscode
.coverage
wandb
*.pk
*json
_build
build
dist
*.so
*.nb
examples/icon.png
examples/gif.py
*.gif
examples/gif
*.npy
.nox
docs/jupyter_execute
**/.DS_Store
